:root {
  font-family: sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  color: #17178f;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  /* background-color: #f7feff; */
  /* background-color: #17178f; */
  /* background-color: brown; */
  background: url('./fon0.jpg') no-repeat;
  background-position: bottom;
  background-size: cover;

  /* background: linear-gradient(to left top, #dcffff, #f2deff); */
}

/*
  =====================
  App
  ======================
*/

.app {
  display: flex;
  min-width: 800px;
}

/*
  =====================
  Sidebar
  ======================
*/

.sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 97vh;
  height: 100%;
  padding: 1em;
  background-color: #cef9ff;
  /* background: linear-gradient(to right top, #dcffff, #f2deff); */
}
.sidebar h1 {
  margin-top: 0;
}
.sidebar form {
  display: flex;
}
.sidebar form input {
  padding: 1em;
  border: none;
}
.sidebar form input:nth-child(1) {
  width: 100%;
  margin-right: 1em;
}
.sidebar form input:nth-child(2) {
  background: #17178f;
  margin-left: auto;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.sidebar .max-length {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 0.75rem;
  color: #999;
}
.sidebar .cathegorie {
  padding: 1em;
  margin-bottom: 1px;
  background-color: white;
  cursor: pointer;
  word-wrap: break-word;
}
.sidebar .cathegorie:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px #cacaca;
  transition: all 0.2s ease-in-out;
}
.sidebar .delete-all-data {
  margin-top: auto;
}
.sidebar .delete-all-data button {
  width: 100%;
  height: 50px;
  margin-top: 1em;
  border: none;
  background-color: #17178f;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/*
  =====================
  Todo Wrapper
  ======================
*/

.todo-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  background: rgba(255,255,255,.8);
}
.todo-wrapper h1 {
  margin-top: 0;
}

/*
  =====================
  Todo Header
  ======================
*/

.todo-header {
  /* background-color: #fff; */
}
.todo-header h2 {
  width: 100%;
  margin-top: 0;
  word-wrap: break-word;
  font-size: 2rem;
}
.todo-header form {
  display: flex;
}
.todo-header form input {
  padding: 1em;
}
.todo-header form input:nth-child(1) {
  width: 50%;
  margin-right: 1em;
  background-color: rgba(255,255,255,0);
  border: 1px solid #17178f;
}
.todo-header form input:nth-child(2) {
  background: #17178f;
  border: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
.todo-header .max-length {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 0.75rem;
  color: #999;
}

/*
  =====================
  Todo Body
  ======================
*/

.todo-body {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
}
.todo-body ul {
  list-style-type: decimal;
}
.todo-body ul li {
  font-size: 1.5rem;
}
